.section {
  padding-top: 5rem;
  width: 70vw;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-family: 'Pokemon';
  color: goldenrod;
  text-shadow: 0 0 3px black;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  font-size: 1.5rem;
}

.list li {
  list-style: none;
}
