.table {
  width: 100%;
  font-family: monospace;
  font-size: 1.2rem;
  text-align: center;
}

.table th {
  color: firebrick;
  border-bottom: solid 1px black;
}

.image {
  width: 100px;
  height: 100px;
}
